body {
  background-color: white;
}

#app {
  margin-left: initial;
  height: 50%;
  width: 50%;
}

#size {

}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas:
    'one main'
    'two main'
    'three main'
    'four main'
    'five main';
  grid-gap: 1%;
  background-color: white;
  height: 96%;
  width: 99%;
  justify-content: stretch;
}

.container > div {
  background-color: whitesmoke;
  text-align: center;
  font-size: 30px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.display { grid-area: main; }